{% extends "base.html" %}
{% block titulo %}
 {{ block.super }}
{% endblock titulo %}
{% block contenido %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2"> Registro de vendedores</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <a name="" id="" class="btn btn-outline-secondary" href="{% url 'ggven' %}"  role="button">Agregar vendedor</a>
        </div>
        
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm  table-bordered border-dark">
        <thead>
          <tr>
            <th>Codigo </th>
            <th>Nombres </th>
          </tr>
        </thead>
        <tbody>
         {% for item in vend %}
          <tr class=''>
            <td>{{item.codigo}} </td>
            <td>{{item.nombres}} </td>
          </tr>
         {% endfor %}
        </tbody>
    </table>
    </div>
  </main>
{% endblock contenido %}

{% block pie %}
 {{ block.super }}
{% endblock pie %}